@using System.Text.RegularExpressions;
@using System.Globalization;
@using System.Text.RegularExpressions;
@using livetsskole.App_Code;

@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    // Content node selections
    var root = Umbraco.ContentAtRoot().FirstOrDefault();
    var selection = root.FirstChildOfType("events").Children().Where(x => x.Value<DateTime>("starttime") > DateTime.Now && x.IsVisible()).OrderBy(x => x.GetProperty("starttime").Value()).ToArray();

    // Foredrag
    var lectures = selection.Where(x => x.GetProperty("eventType").Value<string>() == "Foredrag og dialog" || x.GetProperty("eventType").Value<string>() == "Studiegruppe" || x.GetProperty("eventType").Value<string>() == "Studiegruppe og foredrag").Take(4);

    // Fest for Martinus kosmiske indvielse
    var celebration = selection.Where(x => x.GetProperty("eventType").Value<string>() == "Fest for Martinus komiske indvielse");

    // Sommerskole
    var summerSchool = selection.Where(x => x.GetProperty("eventType").Value<string>() == "Sommerkursus");


    // Seminar
    var seminars= selection.Where(x => x.GetProperty("eventType").Value<string>() == "Seminar");


    @helper StripParagraph(string input)
    {
        if (!string.IsNullOrEmpty(input))
        {
            input = Regex.Replace(input, "</?p>", String.Empty);
            @Html.Raw(input)
        }
    }
}

@if (lectures.Count() > 0 || celebration.Count() > 0 || summerSchool.Count() > 0 || seminars.Count() > 0)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" style="font-size:120%;font-weight:600">Kommende arrangementer</h5>

            <ul style="list-style:none;padding:1em 0em 0em 1em">


                @if (summerSchool.Count() > 0)
                {

                    <li>
                        <b>Sommerkursus</b>
                        <ul style="list-style:none;padding:0em 0.5em 0em 0em">
                            @foreach (var item in summerSchool)
                            {
                                <li>
                                    <a href="@item.Url">
                                        @item.Name
                                    </a> <br />
                                    @item.GetProperty("subtitle").Value().<br />
                                    @item.GetProperty("time").Value().ToString().FirstCharToUpper().ToString().Trim().
                                    @if (!@item.GetProperty("town").Value().ToString().IsNullOrWhiteSpace())
                                    {
                                        <span>@item.GetProperty("town").Value().ToString().Trim().</span>
                                    }
                                    else
                                    {
                                        <span>2605 Brøndby.</span>
                                    }
                                </li>
                            }
                        </ul>

                    </li>
                }
                
                @if (celebration.Count() > 0)
                {

                    <li>
                        <ul style="list-style:none;padding:0em 0.5em 1em 0em">
                            @foreach (var item in celebration)
                            {
                                <li>
                                    <a href="@item.Url">@item.GetProperty("title").Value()</a>.<br /> @item.GetProperty("time").Value().ToString().Trim().
                                    @if (!@item.GetProperty("town").Value().ToString().IsNullOrWhiteSpace())
                                    {
                                        <span>@item.GetProperty("town").Value().ToString().Trim().</span>
                                    }
                                    else
                                    {
                                        <span>2605 Brøndby.</span>
                                    }
                                </li>
                            }
                        </ul>

                    </li>
                }

                @if (lectures.Count() > 0)
                {

                    <li>
                        <ul style="list-style:none;padding:0em 0.5em 1em 0em">
                            @foreach (var item in lectures)
                            {
                                if (@item.GetProperty("lecturer").Value().ToString().Trim().Length > 0)
                                {
                            <li>
                                <strong>@item.GetProperty("title").Value()</strong><br />
                                @if (@item.GetProperty("subtitle").Value().ToString().Length > 4) { 
                                    <a href="@item.Url">@item.GetProperty("subtitle").Value()</a><br />
                                }
                                ved @item.GetProperty("lecturer").Value()<br />
                                @((((DateTime)item.GetProperty("starttime").GetValue()).ToString("dddd \\den d. MMMM yyyy\\, kl. HH:mm", CultureInfo.CreateSpecificCulture("da-DK")).FirstCharToUpper())).
                                @if (!@item.GetProperty("town").Value().ToString().IsNullOrWhiteSpace())
                                {
                                    <span>@item.GetProperty("town").Value().ToString().Trim().</span>
                                }
                                else
                                {
                                    <span>2605 Brøndby.</span>
                                }
                            </li>
                                }
                                else
                                {
                        <li>
                            <strong>@item.GetProperty("title").Value()</strong><br />
                            @if (@item.GetProperty("subtitle").Value().ToString().Length > 4)
                            {
                                <a href="@item.Url">@item.GetProperty("subtitle").Value()</a><br />
                            }
                            @((((DateTime)item.GetProperty("starttime").GetValue()).ToString("dddd \\den d. MMMM yyyy\\, kl. HH:mm", CultureInfo.CreateSpecificCulture("da-DK")).FirstCharToUpper())).
                            @if (!@item.GetProperty("town").Value().ToString().IsNullOrWhiteSpace())
                            {
                                <span>@item.GetProperty("town").Value().ToString().Trim().</span>
                            }
                            else
                            {
                                <span>2605 Brøndby.</span>
                            }
                        </li>
                                }
                            }
                        </ul>
                    </li>
                }



                @if (seminars.Count() > 0)
                {

                    <li>
                        <b>Seminarer</b>
                        <ul style="list-style:none;padding:0em 0.5em 1em 0em">
                            @foreach (var item in seminars)
                            {
                                <li>
                                    <a href="@item.Url">@item.GetProperty("title").Value()</a>.<br /> @item.GetProperty("time").Value().ToString().Trim().
                                    @if (!@item.GetProperty("town").Value().ToString().IsNullOrWhiteSpace())
                                    {
                                        <span>@item.GetProperty("town").Value().ToString().Trim().</span>
                                    }
                                    else
                                    {
                                        <span>2605 Brøndby.</span>
                                    }
                                </li>
                            }
                        </ul>

                    </li>
                }



            </ul>
        </div>
    </div>
}